nav {
  color: #FFFFFF;
  background-color: #4056A1;
  height: 120px;
  padding: 1.5em;
  font-size: 38px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 999;
  position: fixed;
  top: 0;
  width: 100%;
  border: 1px solid black;
}
.tweeter{
  font-family: "Bungee", sans-serif;
}

.writeTweet {
  font-size: 28px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.arrow {
  color:red
}