.tweet-form {
  display: flex;
  flex-direction: column;
}

.tweet-text {
  display: flex;
  flex-direction: column;
  font-weight: 600;
  background-color: #2056A1;
}

.tweet-text textarea {
  color: white;
  background-color: inherit;
  outline: none;
  height: 40px;
  resize: none;
  border-bottom:3px solid;
  border-top: hidden;
  border-right: hidden;
  border-left: hidden;
  border-color: white; 
  white-space: pre-wrap;
  overflow-wrap: break-word;
}

.tweet-button {
  background-color: #4056A1;
  color: white;
}

.tweet-submit {
  font-family: "Bungee", sans-serif;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.container {
  background-color: #2056A1;
}

.overLimit {
  color: red;
}