.user-tweet {
  background-color: #FFFFFF;
  color: #4056A1;
  border-bottom:3px solid;
  border-top: 3px solid;
  border-right: 3px solid;
  border-left: 3px solid;
  border-color: #5051A1;
}

.tweet-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1em;
}

.user-name {
  display: flex;
  flex-direction: row;
  align-items:flex-start;
}

.user-post {
  display:flex;
  align-items:flex-start;
  padding:0.25em;
  padding-bottom: 10px;
  border-bottom:3px solid;
  border-top: hidden;
  border-right: hidden;
  border-left: hidden;
  border-color: #5051A1;
}

.footer {
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding:1em;
}

.user-tweet:hover {
  box-shadow: 7px 7px #4041a1;
}

.icons {
  font-size: 20px;
}

.icons :hover {
  color:goldenrod;
}