.user-tweet {
  margin: 0;
  background-color: #FFFFFF;
  color: #4056A1;
  border-bottom:3px solid;
  border-top: 3px solid;
  border-right: 3px solid;
  border-left: 3px solid;
  border-color: #5051A1;
}

.user-name {
  display: flex;
  flex-direction: row;
  align-items:center;
  justify-content:space-between;
  padding:0.25em;
}

.user-post {
  display:flex;
  align-items:flex-start;
  padding:1em;
  padding-bottom: 5px;
  border-bottom:3px solid;
  border-top: hidden;
  border-right: hidden;
  border-left: hidden;
  border-color: #000000;
}

.footer {
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding:0.5em;
}

.user-tweet:hover {
  box-shadow: 7px 7px grey;
}

.icons {
  font-size: 20px;
}

.icons :hover {
  color:goldenrod;
}